<div class="doc-veiwer-container">
  <h3 class="title">DOCUMENT VIEWER</h3>
  <div class="doc">
    <img *ngIf="!isDocLoading; else loadingBlock" [src]="imageSourceUrl"/>
    <ng-container *ngIf="docControls.length">
      <ng-container *ngFor="let control of docControls">
        <ng-container [ngSwitch]="control.widgetType">
          <app-doc-input class="doc-control"
            *ngSwitchCase="'text'"
            [controlName]="control.name"
            [id]="control.id"
            [style.top]="getPositionValue(control.rect[1])"
            [style.left]="getPositionValue(control.rect[0])"
            [style.width]="getPositionValue(control.rect[2])"
            [style.height]="getPositionValue(control.rect[3])">
          </app-doc-input>
          <app-doc-dropdown class="doc-control"
            *ngSwitchCase="'dropdown'"
            [controlName]="control.name"
            [options]="control.options || []"
            [style.top]="getPositionValue(control.rect[1])"
            [style.left]="getPositionValue(control.rect[0])"
            [style.width]="getPositionValue(control.rect[2])"
            [style.height]="getPositionValue(control.rect[3])">
          </app-doc-dropdown>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loadingBlock>
      <div>Loading...</div>
    </ng-template>
  </div>
</div>

