:host {
  display: block;
  height: 100%;
  width: 100%;
}

.doc-veiwer-container {
  display: flex;
  flex-direction: column;
}

.doc {
  flex-grow: 1;
  display: flex;

  position: relative;
}

.doc-control {
  position: absolute;
}
